name: Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Run tests
      run: go test ./...
    - name: Build
      run: |
        go build -v ./...
        ls -R
    - name: Deploy
      run: curl -s https://example.com
