name: Test

on:
  pull_request:
    types:
      - opened
      - synchronize
      - labeled

  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ !contains('ref/heads/main', github.ref) }}

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: |
            max-jobs = auto
            cores = 0
      - uses: determinateSystems/magic-nix-cache-action@main
      - uses: nicknovitski/nix-develop@v1

      - name: Cache Go modules
        uses: actions/cache@v5
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-mod-

      - name: Install dependencies
        run: go mod download

      - name: golangci-lint
        run: golangci-lint run

      - name: Run tests
        run: go test -v ./...

      - name: Check format
        run: |
          nix fmt . && git diff --exit-code
          actionlint
